body {
    background-image: linear-gradient(to right, #e0c8e9, #cba3db);
}

.todo-list {
    margin: auto;
    max-width: 500px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #8e44ad;
    border: 3px solid rgb(182, 127, 205);
    padding: 10px;
}

.header {
    color: whitesmoke;
    display: block;
    padding-bottom: 15px;
    background: linear-gradient(to left, whitesmoke, whitesmoke) no-repeat bottom center;
    background-size: 0% 3px;
    transition: all 0.25s;
    /* text-decoration: line-through; */
}

.header:hover {
    background-size: 100% 4px;
}

/* FORM STYLES */

#make-todo-form {
    display: flex;
    height: 40px;
    border: 2px solid rgb(5, 207, 207);
    padding: 4px;
}

input[type='text'] {
    color: whitesmoke;
    background-color: inherit;
    border: none; 
    border-right: 1px solid #cba3db;
    font-weight: 700;
    font-size: 20px;
    flex: 2;
}

input[type='text']::placeholder {
    color: whitesmoke;
}

input[type='text']:focus,
.todo-add-button:focus {
    outline: none;
}

.todo-add-button {
    color: #2ecc71;
    background-color: inherit;
    border: none;
    font-weight: 700;
    font-size: 20px;
    flex: 1;
    margin-left: 5px;
    transition: all 0.2s ease-in-out 0s;
}

.todo-add-button:hover,
.todo-add-button:active {
    animation: 0.2s bounce ease-in-out 0s;
    background-color: #2ecc71;
    color: whitesmoke;
    box-shadow: 2px 3px #219251;
}

.todo-add-button:active {
    transform: translateY(1px);
    box-shadow: 1px 2px #219251;
}

/* TODO STYLES */

.todo-list-todos {
    display: flex;
    /* border: 1px solid black; */
    padding: 10px;
    flex-direction: column;
}

.todo-list-todos__todo {
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    padding: 3px;
    border: 2px solid rgb(5, 207, 207);
    margin-bottom: 5px;
}

.todo__text {
    display: flex;
    flex-wrap: nowrap;
    flex: 3;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: inherit;
    font-size: 18px;
    border-right: 1px solid #cba3db;
}

.todo__text:focus {
    outline: none;
}

/* NOT MINE */
.todo__checkbox {
    display: flex;
    flex: 1;
    border-right: 1px solid #cba3db;
    
}

input[type='checkbox'] {
    display: none;
    position: absolute;
}

.todo__checkbox-span {
    display: flex;
    flex: 1;
    font-size: 25px;
    color: whitesmoke;
}

/* Need to put important as JS will set a color to an inline style,
negating hover and active colors */
.todo__checkbox-span:hover {
    color: #6dde9d!important;
}

.todo__checkbox-span:active {
    color: #219251!important;
}

.check-icon {
    margin: 0 auto;
    margin-top: 5px;
}
/* NOT MINE */

.todo__check-button {
    flex: 1;
    border-right: 1px solid #cba3db;
    color: #2ecc71;
    font-size: 25px;
    transition: all 0.2s ease-in-out 0s;
}

.todo__check-button:hover,
.todo__check-button:active {
    animation: 0.2s bounce ease-in-out 0s;
    background-color: #2ecc71;
    color: whitesmoke;
    box-shadow: 0px 3px #219251;
}

.todo__check-button:active {
    transform: translateY(1px);
    box-shadow: 0px 1px #219251;
}

.todo__delete-button {
    flex: 1;
    color: #e74c3c;
    font-size: 25px;
    transition: all 0.2s ease-in-out 0s;
}

.todo__delete-button:hover,
.todo__delete-button:active {
    animation: 0.2s bounce ease-in-out 0s;
    background-color: #e74c3c;
    color: whitesmoke;
    box-shadow: 2px 3px #9f2114;
}

.todo__delete-button:active {
    transform: translateY(1px);
    box-shadow: 0px 1px #9f2114;
}

/* EASE OF USE STYLES */
button {
    background-color: inherit; 
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

/* ANIMATIONS */

@keyframes bounce {
    100% {
        transform: scale(1.1);
    }
}

@keyframes border-bottom-spread {
    0% {
        border-bottom: whitesmoke;
        border-bottom-width: 0%;
    }
    100% {
        border-bottom: whitesmoke
    }
}