body {
    /* The background gradient you see behind the list */
    background-image: linear-gradient(to right, #e0c8e9, #cba3db);
}

/* Setting up the outer div of the list */
.todo-list {
    margin: auto;
    max-width: 500px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #8e44ad;
    border: 3px solid rgb(182, 127, 205);
    padding: 10px;
}

/* Styles for the h1 title */
.header {
    color: whitesmoke;
    display: block;
    padding-bottom: 15px;
    background: linear-gradient(to left, whitesmoke, whitesmoke) no-repeat bottom center;
    background-size: 0% 3px;
    transition: all 0.25s;
}

/* Hover animation for the title */
.header:hover {
    background-size: 100% 4px;
}

/* --------------- */
/* FORM STYLES */
/* --------------- */

/* The form for adding or removing tasks */
#make-todo-form {
    display: flex;
    height: 40px;
    border: 2px solid rgb(5, 207, 207);
    padding: 4px;
}

/* Styles for the text input in the form */
input[type='text'] {
    color: whitesmoke;
    background-color: inherit;
    border: none; 
    border-right: 1px solid #cba3db;
    font-weight: 700;
    font-size: 20px;
    flex: 2;
}

/* Changes the color of the placeholder text */
input[type='text']::placeholder {
    color: whitesmoke;
}

/* Styles + animation for the add button in the form */
.todo-add-button {
    color: #2ecc71;
    background-color: inherit;
    border: none;
    font-weight: 700;
    font-size: 20px;
    flex: 1;
    margin-left: 5px;
    transition: all 0.2s ease-in-out 0s;
}

/* Green hover + bounce animation for add button */
.todo-add-button:hover,
.todo-add-button:active {
    animation: 0.2s bounce ease-in-out 0s;
    background-color: #2ecc71;
    color: whitesmoke;
    box-shadow: 2px 3px #219251;
}

/* Animation to make the button look like its compressed */
.todo-add-button:active {
    transform: translateY(1px);
    box-shadow: 1px 2px #219251;
}

/* --------------- */
/* TODO STYLES */
/* --------------- */

/* Styles for the div where the Todos go in */
.todo-list-todos {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

/* Styles for div of the Todos */
.todo-list-todos__todo {
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    padding: 3px;
    border: 2px solid rgb(5, 207, 207);
    margin-bottom: 5px;
}

/* Styles for the dynamic text div within a Todo */
.todo__text {
    display: flex;
    flex-wrap: nowrap;
    flex: 3;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: inherit;
    font-size: 18px;
    border-right: 1px solid #cba3db;
}

/* Styles for the div around the checkbox in the Todo */
.todo__checkbox {
    display: flex;
    flex: 1;
    border-right: 1px solid #cba3db;
}

/* Style for the actual checkbox, making it align with the delete button's icon
*/
input[type='checkbox'] {
    margin: 11px auto 0 auto;
}

/* Styles for the delete button + animation */
.todo__delete-button {
    flex: 1;
    color: #e74c3c;
    font-size: 25px;
    transition: all 0.2s ease-in-out 0s;
}

/* Hover + Active animation */
.todo__delete-button:hover,
.todo__delete-button:active {
    animation: 0.2s bounce ease-in-out 0s;
    background-color: #e74c3c;
    color: whitesmoke;
    box-shadow: 2px 3px #9f2114;
}

/* Animation for press down */
.todo__delete-button:active {
    transform: translateY(1px);
    box-shadow: 0px 1px #9f2114;
}

/* -------------------- */
/* EASE OF USE STYLES */
/* -------------------- */

button {
    background-color: inherit; 
    border: none;
    cursor: pointer;
}

/* Removes the blue border you see around elements when you're focused on them */
:focus {
    outline: none;
}

/* ------------ */
/* ANIMATIONS */
/* ------------ */

/* Bounce animation for when you hover over a button */
@keyframes bounce {
    100% {
        transform: scale(1.1);
    }
}

/* Animation to spread a bottom border as you hover over the title */
@keyframes border-bottom-spread {
    0% {
        border-bottom: whitesmoke;
        border-bottom-width: 0%;
    }
    100% {
        border-bottom: whitesmoke
    }
}